
.tableHeading
{
	padding-left: 10px;
	padding-right: 10px;
}
.dataRow
{
	margin: 10px;
	padding: 0px;
}
#heading
{ 		
	font-size: 30px;
	color: white;
	text-align: center;/*
	padding-top: 40px;*/
	position: relative;
	text-align: center;
	transition: all 0.4s ease;
}
#bottomContent{
	text-align: center;
}
/*For small screens*/
@media (min-width: 10px) 
{
	.subhead
	{
		font-size: 20px;
		color: black;
		padding: 0px;
		text-align: center;
		margin: 10px;
	}
	.panel-body
	{
		font-size: 10px;
	}

}
/*
for large screens*/
@media (min-width: 768px) 
{
	.subhead
	{
		font-size: 30px;
		color: black;
		padding: 0px;
		margin: 10px;
		text-align: center;
	}

}

.row
{
	margin-bottom: 50px;
	margin-top: 50px;
}
